.wrapperCategory {
  height: 100%;
  padding: 32px 0px 60px 0px;
}

.title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 57px;
}

.titleBold {
  font-weight: 700;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 165px);
  justify-content: space-between;
  gap: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 735px;
  padding: 0px 16px;
  margin: 0 auto;
}

.item {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .list {
    gap: 28px;
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  .list {
    grid-template-columns: repeat(2, 165px);
    justify-content: center;
  }
}
