.wrapperModelSelect {
  padding: 30px 0px 0px 0px;
}

.wrapperSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 23px;
}

.btnAddIcon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 24px;
  font-size: 24px;

  border-radius: 50%;
  border: none;
  color: #6b7280;
  background: transparent;
  cursor: pointer;
  padding-bottom: 5px;
  transition:
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnAddIcon:hover {
  background: rgba(41, 42, 44, 0.1);
  color: #45b549;
}

.inputSearch {
  border-radius: 8px;
  border: 1px solid #d1d8d8;
  padding: 14px 70px 14px 35px;
  width: 100%;
  max-width: 405px;
}

.inputSearch:focus {
  outline: none;
  border-color: #45b549;
}

.inputSearch::placeholder {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapperBtnIcon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btnIcon svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnIcon:hover svg {
  fill: #45b549;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #808080;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 21px;
}

.subtitle svg {
  margin-right: 10px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 19px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 70px);
  gap: 8px;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  min-height: 312px;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d1d8d8;
  background: #fff;
  padding: 17px 27px 17px 13px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.active {
  border-color: #45b549;
  cursor: pointer;
}

.item.active .nextIcon {
  stroke: #45b549;
}

.item:hover {
  border-color: #45b549;
  cursor: pointer;
}

.item:hover .nextIcon {
  stroke: #45b549;
}

.noDevices {
  align-items: center;
  color: #ff3636;
  display: flex;
  font-size: 16px;
  font-weight: 500;

  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 10px;
}

.noDevicesBtn {
  color: #45b549;

  font-size: 16px;
  font-weight: 500;
  text-align: start;
  letter-spacing: 0;
  line-height: 24px;
  background: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.deviceImage {
  width: 36px;
  height: 36px;
}

.deviceLabel {
  color: #1a1a1a;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.nextIcon {
  min-width: 9px;
  min-height: 16px;
  fill: none;
  stroke: #000;
  margin-left: auto;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowIcon {
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrowIcon.next {
  transform: scaleX(-1);
}

.arrowIcon {
  width: 17px;
  height: 16px;
}

.arrowIcon.next {
  transform: scaleX(-1);
}
