.wrapperDeviceHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0px 20px 0px;
  margin-bottom: 29px;
}

.wrapperStep {
  display: flex;
  flex-direction: column;
}

.wrapperQuestion[data-type='checkbox'],
.wrapperQuestion[data-type='multiple_choice'] {
  order: 1;
}

.storageSection {
  order: 2;
}

.wrapperQuestion[data-type='range'],
.wrapperQuestion[data-type='slider'],
.wrapperQuestion[data-type='radio'],
.wrapperQuestion[data-type='single_choice'],
.wrapperQuestion[data-type='other'] {
  order: 3;
}

.wrapperQuestion {
  margin-bottom: 20px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 19px;
}

.deviceLabel {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 29px;
}

.wrapperDeviceInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapperCheckbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #d1d8d8;
  background: #fff;
  margin-bottom: 20px;
}

.wrapperCheckboxRadio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.wrapperRadioBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  margin-bottom: 34px;
}

.description {
  color: #68706f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}

.currentText {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 34px;
}

.sliderContainer {
  width: 100%;
  margin-bottom: 12px;
}

.batterySlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  margin: 0;
  cursor: pointer;
}

.batterySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #45b549;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.batterySlider::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #45b549;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 14px;
  background: #e5ffe6;
  padding: 9px 23px;
  margin-bottom: 29px;
}

.wrapperBntRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
