.wrapperNotPurchaseDevice {
  max-width: 405px;
  padding: 16px;
  padding-bottom: 130px;
  margin: 0px auto;
}

.wrapperDeviceHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0px 20px 0px;
  margin-bottom: 29px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 19px;
}

.searchResults {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.deviceLabel {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 29px;
}

.wrapperDeviceInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 14px;
  background: #e5ffe6;
  padding: 9px 23px;
  margin-bottom: 29px;
}

.wrapperBntRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
}

.mapContainer {
  margin: 20px 0;
  text-align: center;
}

.mapLabel {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  font-family: Inter;
}

@media screen and (max-width: 768px) {
  .wrapperNotPurchaseDevice {
    padding-bottom: 16px;
  }
}
