.wrapperNotPurchaseDevice {
  max-width: 405px;
  padding: 30px 16px 130px 16px;
  margin: 0px auto;
}

.wrapperDeviceHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0px 20px 0px;
  margin-bottom: 29px;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 39px;
}

.searchResults {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.deviceLabel {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 29px;
}

.wrapperDeviceInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 14px;
  background: #e5ffe6;
  padding: 9px 23px;
  margin-bottom: 29px;
}

.wrapperBntRadio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 19px;

  margin-bottom: 30px;
}

.mapContainer {
  margin: 20px 0;
  text-align: center;
}

.mapLabel {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  font-family: Inter;
}

.photoListsWrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.photoItemWrapper {
  background-image: url('/public/img/upload-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .photoItemWrapper {
    background-image: url('/public/img/upload-img2x.png');
  }
}

.photoInput {
  display: none;
}

.photoLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.uploadIcon {
  font-size: 32px;
  color: #6b7280;
  font-weight: 300;
}

.photoPreview {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border-radius: 8px;
}

.removePhotoBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0;
  z-index: 10;
  background: transparent;
  border: none;

  cursor: pointer;
}

.inputTextListsWrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
}

.wrapperOfferClaimPage {
  margin-top: 40px;
}

.offerClaimPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 405px;

  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 30px 15px;
}

.offerClaimPageTitle {
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}

.congratulationsText {
  width: 269px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .wrapperNotPurchaseDevice {
    padding-bottom: 16px;
  }
}
